@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@300&family=Barlow+Semi+Condensed:ital,wght@1,300&family=Inspiration&family=Open+Sans:wght@700&family=Roboto&display=swap');

.navigationCustomStockSummary{
    height: fit-content;
    max-height: 702px;
    width: 500px;
    position: absolute;
    left: 140px;
    top: 85px;
    background-color: rgb(255, 255, 255);
    border-width: 1px;
    border-style: solid;
    border-color: #bdbebe;
}

#priceCustomStockSummary{
    position: absolute;
    left: 30px;
    top: 15px;
    font-size: 35px;
    font-family: 'Assistant', sans-serif;
    font-family: 'Barlow Semi Condensed', sans-serif;
    font-family: 'Inspiration', cursive;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
}

#investedCustomStockSummary{
    position: absolute;
    left: 30px;
    top: 70px;
    font-weight: bold;
    font-size: 15px;
    font-family: 'Assistant', sans-serif;
    font-family: 'Barlow Semi Condensed', sans-serif;
    font-family: 'Inspiration', cursive;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
    color: #7c7e7e;
}

#returnCustomStockSummary{
    position: absolute;
    left: 130px;
    top: 70px;
    font-weight: bold;
    font-size: 15px;
    font-family: 'Assistant', sans-serif;
    font-family: 'Barlow Semi Condensed', sans-serif;
    font-family: 'Inspiration', cursive;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
    color: #7c7e7e;
}

#valueinvestedCustomStockSummary{
    position: absolute;
    left: 30px;
    top: 90px;
    font-size: 17px;
    font-family: 'Assistant', sans-serif;
    font-family: 'Barlow Semi Condensed', sans-serif;
    font-family: 'Inspiration', cursive;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
    color: #7c7e7e;
}

#valuereturnCustomStockSummary{
    position: absolute;
    left: 130px;
    top: 90px;
    font-size: 17px;
    font-family: 'Assistant', sans-serif;
    font-family: 'Barlow Semi Condensed', sans-serif;
    font-family: 'Inspiration', cursive;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
    color: #7c7e7e;
}
