.firstDiv {
    background:#0066cc;
}

a {
    color: #ffcc00;
    background-color: transparent;
    text-decoration: underline;
  }
  
  .svgDIV{
    display:flex;
    align-items:center;
    justify-content:center;
   }

   .overlap {
    position: absolute;

    
   }

.thirdDiv{
    background: #0066cc;
}