.firstDiv {
    background:#0066cc;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

a {
    color: #ffcc00;
    background-color: transparent;
    text-decoration: underline;
  }
  
  .svgDIV{
    display:flex;
    align-items:center;
    justify-content:center;
   }

   .overlap {
    position: absolute;

    
   }

.thirdDiv{
    background: #0066cc;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.footerDiv {
    background: #0066cc;
}

.footer {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.linkcss {
    color:gray;
    text-decoration: none;
    text-decoration-color: gray;
}

.linkcss:hover{
    color:gray;
    text-decoration: underline;
    text-decoration-color: gray;
}

.dialog{
    border-radius: 50px;
}

.button{
    background-color:#0066cc;
    color:white;
    font-size: 30;
}

.button:hover{
    background-color:#205385;
    color:white;
    font-size: 30;
}