#linkLogin {
    color:gray;
    text-decoration: none;
    text-decoration-color: gray;
}

#linkLogin:hover{
    color:gray;
    text-decoration: underline;
    text-decoration-color: gray;
}

.dialog{
    border-radius: 50px;
}

#buttonLogin{
    background-color:#0066cc;
    color:white;

}

#buttonLogin:hover{
    background-color:#205385;
    color:white;

}