body{
    margin: 0;
    padding: 0;
    height: 100%;
}

.mainDivLogged {
    background-color: rgb(240, 237, 237);
    position: relative; /* needed for footer positioning*/
    height: auto !important; /* real browsers */
    min-height: 100%; /* real browsers */
}
