@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@300&family=Barlow+Semi+Condensed:ital,wght@1,300&family=Inspiration&family=Open+Sans:wght@700&family=Roboto&display=swap');

@media only screen and (min-width: 1600px){
.dataStock {
    height: 700px;
    width: 1000px;
    position: absolute;
    z-index: 1;
    top: 85px;
    left:670px;
    overflow-x: hidden;
    background-color: #ecedf1;
    font-family: 'Assistant', sans-serif;
    font-family: 'Barlow Semi Condensed', sans-serif;
    font-family: 'Inspiration', cursive;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
}
}

@media only screen and (max-width: 1599px){
    .dataStock {
        height: 700px;
        width: 800px;
        position: absolute;
        z-index: 1;
        top: 85px;
        left:670px;
        overflow-x: hidden;
        background-color: #ecedf1;
        font-family: 'Assistant', sans-serif;
        font-family: 'Barlow Semi Condensed', sans-serif;
        font-family: 'Inspiration', cursive;
        font-family: 'Open Sans', sans-serif;
        font-family: 'Roboto', sans-serif;
    }
    }

#imgDataStock 
{
    position: absolute;
    left:30px;
    top:30px;
    width: 80px;
    height: 80px;
    border-radius: 10px;
    border: 2px solid #ececec;
}

#stockName 
{
    position: absolute;
    left:130px;
    top:40px;
    font-size: 25px;
    font-family: 'Assistant', sans-serif;
    font-family: 'Barlow Semi Condensed', sans-serif;
    font-family: 'Inspiration', cursive;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
}

#stockDetails 
{
    position: absolute;
    left:130px;
    top:75px;
    color: gray;
    font-size: 15px;
    font-family: 'Assistant', sans-serif;
    font-family: 'Barlow Semi Condensed', sans-serif;
    font-family: 'Inspiration', cursive;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
}

@media only screen and (min-width: 1600px){
    #firstDivDataStock{
        background-color: white;
        height: 520px;
        width: 990px;
        border-width: 1px;
        border-style: solid;
        border-color: #bdbebe;
    }
}

@media only screen and (max-width: 1599px){
    #firstDivDataStock{
        background-color: white;
        height: 520px;
        width: 790px;
        border-width: 1px;
        border-style: solid;
        border-color: #bdbebe;
    }
}

@media only screen and (min-width: 1600px){
    #otherDivDataStock{
        background-color: white;
        height: fit-content;
        width: 990px;
        border-width: 1px;
        border-style: solid;
        border-color: #bdbebe;
    }
}

@media only screen and (max-width: 1599px){
    #otherDivDataStock{
        background-color: white;
        height: fit-content;
        width: 790px;
        border-width: 1px;
        border-style: solid;
        border-color: #bdbebe;
    }
}

#buttonDataStock
{
    color: white;
    background-color: #0066cc;
    margin: 10px;
    width: 100px;
    font-family: 'Assistant', sans-serif;
    font-family: 'Barlow Semi Condensed', sans-serif;
    font-family: 'Inspiration', cursive;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
}


#buttonsDivDataStock
{
    position: absolute;
    left:20px;
    top:120px;

}

#priceDataStock
{
    position: absolute;
    right: 30px;
    top: 30px;
    font-size: 35px;
    font-family: 'Assistant', sans-serif;
    font-family: 'Barlow Semi Condensed', sans-serif;
    font-family: 'Inspiration', cursive;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
}
