element.style {

}

#appBarLogged
{
    background-color: white;
    color: black;
    position: static; 
}

#appBarButtonAccountValue
{
    color: #0066cc;
}

#appBarButtonDeposit{
    background-color: #0066cc;
    color: white;
}

#appBarButtonInvesting{
    color: #0066cc;
    width: 350px;
}