#imgCustomBuy {
    position: absolute;
    left: 10px;
    top: 10px;
    width: 40px;
    height: 40px;
    border-radius: 10px;
    border: 2px solid #ececec;
    color: white;
}

#priceCustomBuy{
    font-size: 40px;
}

#buttonBuy{
    color:white;
    background-color: #0066cc;
    top: 300px;
    width: 300px;
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto; 
    margin-right: auto; 
}

#valueBuy{
    font-size: 30px;
    text-align:center;
    top:190px;
}

#insertBuy {
    top: 50px;
    text-align: center;
    font-size: 60px;
    color: #0066cc;
}