flask~=2.1.2
flask_executor
flask_migrate
flask_json_schema
yfinance~=0.1.72
requests
alembic~=1.8.0
apscheduler
pyOpenSSL
thread6
mysqlclient
gunicorn
flask_cors
pandas~=1.4.3
SQLAlchemy~=1.4.39
flask_sqlalchemy