.navigationHome {
    height: 220px;
    width: 200px;
    position: relative;
    z-index: 1;
    top: 25px;
    overflow-x: hidden;
    padding-top: 16px;
    text-align: center;
  }

#buttonNavigationHomeLogged {
    height: 40px;
    width: 150px;
    color: gray;
    border-radius: 3px;
    margin: 3px;
}

#buttonNavigationHomeLogged:hover {
    height: 40px;
    width: 150px;
    background-color: rgb(228, 225, 225);
    color: gray;
    border-radius: 3px;
    margin: 3px;
}

#buttonClickedNavigationHomeLogged {
    height: 40px;
    width: 150px;
    color: white;
    background-color: #0066cc;
    border-radius: 3px;
    margin: 3px;
}